---
import MainLayout from "../layouts/main-layout.astro"
---
<MainLayout>
	<div class="container pt-4">
		<h1 class="font-medium w-full text-2xl mx-auto text-center">Astro</h1>
	</div>
</MainLayout>
